<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeatSpy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BeatSpy.Properties.Settings>
            <setting name="SpotClientId" serializeAs="String">
                <value>4b675b489cf74ff2a4a2d4483cf1dbe1</value>
            </setting>
        </BeatSpy.Properties.Settings>
    </userSettings>
</configuration>