<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Defines log targets and file outputs -->
	<targets>
		<target name="file" xsi:type="File"
				fileName="${specialfolder:folder=ApplicationData}/BeatSpy/AppLog.txt"
				archiveFileName="${specialfolder:folder=ApplicationData}/BeatSpy/archives/AppLog-{##}.txt"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"/>
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<!-- Defines log routing rules -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>	
</nlog>